@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  margin: 0;
  /* font-family: monospace ,"Lucida Console", "Courier New"; */
  font-family: 'Roboto Mono', monospace;

  background-color:rgb(32,33,36);
  color:rgb(232,234,227);

 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'monospace';
}

h1{
  color:gold;
}

.char{
  color:gold;
}

.container{
  border: 1px solid #5f6368;
  border-radius: 12px;
  margin-left: 30px;
  margin-right: 30px;
}

.profile{
  border-radius: 500px;
  width: 100px;
}

.footer{
  
  position: relative;

}


